<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Colorful Umbrella</key>
	<string>https://images.freeimages.com/images/large-previews/a31/colorful-umbrella-1176220.jpg</string>
	<key>Sports Basketball</key>
	<string>https://images.freeimages.com/images/large-previews/205/sports-basketball-1553845.jpg</string>
	<key>Beach Resort</key>
	<string>https://images.freeimages.com/images/large-previews/5f1/beach-resort-1395730.jpg</string>
	<key>Abstract</key>
	<string>https://images.freeimages.com/images/small-previews/5d8/abstract-1196101.jpg</string>
	<key>Parrot</key>
	<string>https://images.freeimages.com/images/large-previews/d9c/parrot-attack-1410608.jpg</string>
	<key>Rose Hips Bush</key>
	<string>https://images.freeimages.com/images/large-previews/794/rosehips-bush-denmark-berry-1640679.jpg</string>
	<key>Pinscher Dog</key>
	<string>https://images.freeimages.com/images/large-previews/7d9/pinscher-dog-1629638.jpg</string>
	<key>Clock</key>
	<string>https://images.freeimages.com/images/large-previews/23e/clock-1629626.jpg</string>
	<key>Keys and Knife</key>
	<string>https://images.freeimages.com/images/large-previews/03c/keys-and-knife-1485286.jpg</string>
	<key>Jelly Fish</key>
	<string>https://images.freeimages.com/images/large-previews/b6b/gelly-fish-1491193.jpg</string>
	<key>Water and Boat</key>
	<string>https://images.freeimages.com/images/large-previews/773/koldalen-4-1384902.jpg</string>
	<key>Tuscany Landscape</key>
	<string>https://images.freeimages.com/images/large-previews/9a9/tuscany-landscape-4-1500765.jpg</string>
	<key>Cheetah</key>
	<string>https://images.unsplash.com/photo-1516822487734-69ff4b9bf49d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1470&amp;q=80</string>
	<key>Cat</key>
	<string>https://images.freeimages.com/images/large-previews/13e/my-cat-1363423.jpg</string>
	<key>Bear</key>
	<string>https://images.freeimages.com/images/large-previews/695/too-cool-1258378.jpg</string>
	<key>Relax</key>
	<string>https://images.freeimages.com/images/large-previews/3eb/relax-1513030.jpg</string>
	<key>Dory</key>
	<string>https://images.freeimages.com/images/large-previews/b91/blue-tang-1347205.jpg</string>
	<key>Ollie</key>
	<string>https://images.freeimages.com/images/large-previews/914/bank-ollie-1256932.jpg</string>
	<key>Mushroom</key>
	<string>https://images.freeimages.com/images/large-previews/1ca/toadstools-1-1350485.jpg</string>
	<key>Cover Your Eyes</key>
	<string>https://images.freeimages.com/images/large-previews/a65/cover-your-eyes-1256407.jpg</string>
	<key>Pretzels before baking</key>
	<string>https://images.freeimages.com/images/large-previews/ba4/pretzels-before-baking-1055773.jpg</string>
	<key>German Bread</key>
	<string>https://images.freeimages.com/images/large-previews/765/german-bread-roll-selection-1320592.jpg</string>
	<key>Horse</key>
	<string>https://images.freeimages.com/images/large-previews/726/snack-1401887.jpg</string>
	<key>Yogurt</key>
	<string>https://images.freeimages.com/images/large-previews/6d4/yogurt-healthy-snack-1513988.jpg</string>
	<key>Leaf</key>
	<string>https://images.freeimages.com/images/large-previews/bcf/leaf-in-autumn-1512266.jpg</string>
</dict>
</plist>
